@media (min-width: 613px) {
    footer img {
        display: none;
    }
}

@media (max-width: 900px) {
    section {
        width: 100%;
        justify-content: center;
    }

    aside {
        display: none;
    }

    .topo-container {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 612px) {

    .separador,
    .busca,
    .botoes :not(:first-child),
    .story>img {
        display: none;
    }

    header,
    .post,
    section>div,
    .post-img>img,
    .story {
        width: 100%;
    }

    .logo {
        width: 60%;
    }

    .story {
        background-color: #fafafa;
        border: none;
        margin-top: -20px;
    }

    .post {
        margin-top: -2px;
        margin-bottom: 50px;
    }

    section > div > :last-child {
        margin-bottom: 64px;
    }

    footer {
        height: 63px;
        position: fixed;
        bottom: 0px;
        background-color: #fafafa;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
    }
    
    footer img {
        height: 22px;
    }
}