section {
    /* alinhar ao centro */
    margin: 0 auto;
    width: 935px;
    margin-top: 2rem;
    display: flex;
}

.post {
    margin-top: 1rem;
    background-color: white;
    width: 614px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
