  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    border: 0px;
    margin: 0px;
}

body {
    background-color: #fafafa;
}
